.git
.idea
.vscode
.zed
.nova
.cursor
.codex
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/pail
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
*.log
Dockerfile*
docker-compose*.yml
README.md
